<p>
    <strong>Name</strong>
    <%= @customer.name %>
</p>
<p>
    <strong>EMAIL</strong>
    <%= @customer.email %>
</p>
<p>
    <strong>Phone</strong>
    <%= @customer.phone %>
</p>
<p>
    <strong>Smoker</strong>
    <%= @customer.smoker %>
</p>

<p>
  <strong>Avatar</strong>
  <%= @customer.avatar %>
</p>
